.darkmode-switcher
{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 101;
    transition: all 0.3s ease;
}
.darkmode-switcher .s-icon
{
    position: absolute;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    background: var(--bg-black-100);
    color: var(--text-black-900);
    right: 100%;
    border: 1px solid var(--bg-black-50);
    margin-right: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50%;
}
.darkmode-switcher  .s-icon i
{
    line-height: 40px;
}
.darkmode-switcher .day-night
{
    top: 55px;
}
@media (max-width:410px)
{
    .darkmode-switcher .day-night
    {
        top: 65px;
    }
    .darkmode-switcher .s-icon
    {
        margin-right: 20px;
    }
}